
TestProj/Pods/*
TestProj/TestProj.xcodeproj/project.xcworkspace/xcuserdata/mykolaaleshchenko.xcuserdatad/UserInterfaceState.xcuserstate
TestProj/TestProj.xcworkspace/xcuserdata/mykolaaleshchenko.xcuserdatad/UserInterfaceState.xcuserstate
